/* img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
} */

.herocontainer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.69)), url('/assets/bg.jpg') center center/cover no-repeat ;
    color:  rgb(248, 244, 244);
    height: 100vh;
    width: 100%;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
  
.herocontainer > h1 {
    color: #fff;
    font-size: 65px;
    margin-top: -100px;
}
  
.herocontainer > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

  
.herobtns {
    margin-top: 32px;
}
  
.herobtns .btn {
    margin: 6px;
}
  
.faplaycircle {
    margin-left: 4px;
}
  
@media screen and (max-width: 960px) {
    .herocontainer > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
}
  
@media screen and (max-width: 768px) {
    .herocontainer > h1 {
      font-size: 50px;
      margin-top: -100px;
}

.herotitle {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}

.herocontainer > p {
      font-size: 30px;
}

.btnmobile {
      display: block;
      text-decoration: none;
}

.btn {
    width: 100%;
  }
}